$color-positive: #10b981;
$color-negative: #f43f5e;
$color-neutral: #ded8c6;
$color-muted: #6b7280;

$primary: #7c6fe0;
$secondary: #78716c;
$warning: #d97706;
$info: #3b82f6;
$success: $color-positive;
$danger: $color-negative;

@import "bootstrap/scss/bootstrap";

:root {
  --color-positive: #{$color-positive};
  --color-negative: #{$color-negative};
  --color-neutral: #{$color-neutral};
  --color-muted: #{$color-muted};
}

.cursor-pointer {
  cursor: pointer;
}

.show-on-parent-hover {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.hover-group:hover > .show-on-parent-hover,
.hover-group:focus-within > .show-on-parent-hover {
  opacity: 1;
}

[data-bs-theme="light"] .btn.bg-body {
  color: black;
}
