$color-positive: #2dd4c9;
$color-negative: #f87185;
$color-neutral: #c8c0ac;
$color-muted: #9ca3af;

$primary: #9d81f8;
$secondary: #6b7280;
$warning: #fadb8f;
$info: #60b2fa;
$success: $color-positive;
$danger: $color-negative;

$grid-gutter-width: 2rem;

@import "bootstrap/scss/bootstrap";

:root {
  --color-positive: #{$color-positive};
  --color-negative: #{$color-negative};
  --color-neutral: #{$color-neutral};
  --color-muted: #{$color-muted};
}

.cursor-pointer {
  cursor: pointer;
}

.show-on-parent-hover {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.hover-group:hover > .show-on-parent-hover,
.hover-group:focus-within > .show-on-parent-hover {
  opacity: 1;
}

[data-bs-theme="light"] .btn.bg-body {
  color: black;
}
