/* For charts / plots */
:root {
  --color-positive: #10b981;
  --color-negative: #f43f5e;
  --color-neutral: #ded8c6;
  --color-muted: #6b7280;
}

.cursor-pointer {
  cursor: pointer;
  /* user-select: none; */
}

.show-on-parent-hover {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.hover-group:hover > .show-on-parent-hover,
.hover-group:focus-within > .show-on-parent-hover {
  opacity: 1;
}
